.jumbotron a,
.jumbotron a:hover {
  color: #343a40;
  text-decoration: none;
}

.alert.alert-success {
  margin-top: 20px;
}

.alert.alert-success p {
  margin: 0;
}

.alert.alert-danger {
  margin-top: 20px;
}

.alert.alert-danger p{
  margin:0
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: table-cell;
}

.input-group-addon, .input-group-btn {
  width: 3%;
  white-space: nowrap;
  vertical-align: middle;
}

